.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    background: url('/assets/download.jpeg') no-repeat center center fixed;
    background-size: cover; /* Ensures the image covers the whole screen */
    text-align: center;
    color: white; /* Optional: Ensures the text is visible on the background */
    padding: 0 20px;
  }
  
  header h1 {
    font-size: 24px;
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white; /* Ensures the text is visible on the background */
  }
  
  main {
    margin-top: 50px;
    width: 100%;
    max-width: 600px;
  }
  
  .search-container {
    display: flex;
    justify-content: center;
    margin: 20px 5px;
    padding: 2px;
  }
  
  .search-container input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .search-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .filter-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .filter-container label {
    margin: 0 10px;
    color: white; /* Ensures the text is visible on the background */
  }
  
  .filter-container select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .register-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  